.body {
    background: linear-gradient(rgb(173, 141, 141), rgb(154, 98, 131));
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 24px;      
}
.red {
color: rgb(112, 11, 11);
}
.blue {
color: rgb(8, 8, 107);
}
.button {
background:rgb(96, 59, 81);
color: rgb(255, 200, 234);
}